<h1>About Example</h1>

<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
<p>This is an example of Authentication and MongoDB use</p>
<p>Please feel free to <a href="/contact">contact us </a>
 with any questions or comments.</p>
