<h1>Welcome to the Example on Authentication and MongoDB</h1>
<h2>Check out the these options:</h2>
<ul>
	<li><a href="/listusers">Display Users</a></li>
	<li><a href="/input">Input User</a></li>
	<li><a href="/help">Admin Functions</a></li>
	<li><a href="/about">About</a></li>
</ul>
