p {
  font-family: Georgia, "Times New Roman", Times, sherif;
  font-size: 1em;
}

p#Fonts_Text, p#Number_Text {
  font-weight: bold;
}

button {
  background-color: lightblue;
  border-radius: 8px;
  border:2px solid;
  font-size: 16px;
  padding: 8px 15px;
  color: Black;
  cursor: pointer;
}

button:hover {
  background-color: #73081c;
  color: lightblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
This is currently not in place anymore

p#WIP {
  font-family: Georgia, "Times New Roman";
  font-size: 3em;
  color: red;
  font-weight: bold;
  text-align: center;
}

p#WIPTXT {
  font-family: Georgia, "Times New Roman";
  font-size: 2em;
  text-align: center;
}*/

h2 {
  font-family: "Century Schoolbook", Georgia, Times, sherif;
  font-size: 2.5em;
  color: #0953e8;
}

li {
  font-family: Georgia;
  font-size: .8em;
  color: darkgreen;
}

/*
This is currently not in place anymore

img.Construction {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
}
*/

a#IMG_SHOW_HIDE {
  font-family: Georgia, "Times New Roman";
  color: red;
}

div#Top_Home {
  background-color: #b4e7f0;
  margin-top: 25px;
  padding-top: 1px;
  padding-bottom: 10px;
}

div#Top_Port {
  background-color: #b4e7f0;
  margin-top: -2px;
  padding-bottom: 10px;
}

div#Interests_Classes {
  background-color: #ffcf9c;
  margin-top: -16px;
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

div#Contact {
  background-color: #ff5e5e;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

div#navbar ul , .Option div#API_Dropdown ul{
  list-style-type: none;
  text-align: left;
}

.Option {
  list-style-type: none;
  display: inline-flex;
  margin-right: 10px;
  position: static;
}

button.Option {
  background-color: #9d9d9e;
}

button.Option:hover {
  background-color: #b9b9bd;
  color: black;
}

div#navbar li, div#API_Dropdown li{
  font-family: "Franklin Gothic Medium Cond", "Times New Roman";
  font-size: 2.2em;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

label#FontChoice1L {
  font-family: "Times New Roman";
}

label#FontChoice2L {
  font-family: Georgia;
  font-size:1.4em;
}
label#FontChoice3L {
  font-family: "Century Schoolbook";
}

label {
  font-size:1.3em;
  Color: grey;
}

a#Recomended_Color {
  Color: red;
}

select {
  background: #bfbfbf;
  font-size: 15px;
  border-radius: 5px;
}

th#Fruit {
  background-color: red;
}

th#Veg {
  background-color: green;
}

td#Veg {
  background-color: lightgreen;
}

td#Fruit {
  background-color: lightpink;
  padding-right: 1.1em;
}

table, td, th {
  font-size: 2em;
  border: 1px solid black;
  border-collapse: collapse;
}

header {
  font-Family: Georgia, "Times New Roman";
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  background-color: #aec9f5;
}

div#navbar, #API_Dropdown{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -27px;
  margin-top: -15px;
}

img.default {
  height: 500px;
  width: 700px;
}

img.long {
  height: 1000px;
  width: 700px;
}

img.Stock {
  height: auto;
  width: auto;
}

#Table_Page, #Animation_Page, #Styles_Page, #Portfolio_Page, #NYT_Page, #NYT_Page2, #API_Dropdown, #YouTube_Page, #API_Info_Page, #Music_Audio_Page{
  padding-top: 29px;
  display: none;
}

#bird {
  position: absolute;
}

#img, #API_Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image_button_area {
  background-color: #b4e7f0;
  padding-bottom: 40px;
  margin-bottom: -21px;
}

.ProjButton {
  background-color: #aec9f5;
  border-radius: 8px;
  border:2px solid;
  font-size: 16px;
  padding: 15px 22px 15px 22px;
  color: Black;
  cursor: pointer;
}

#Next:hover, #Prev:hover {
  background-color: #b3b4b5;
}

#Next {
  margin-left: 360px;
}

#Prev {
  margin-left: 670px;
}

#Description {
  padding-top: 2px;
  Background-color: #0799ba;
}

#Project_Desc {
  margin-top: -30px;
  font-size: 1.7em;
  padding-bottom: 20px;
}

#Music {
  margin-left: 600px;
}

#Stock {
  margin-left: 180px;
}

#buttonPTxt {
  font-size: 1.3em;
  text-align: center;
}

#Descrip {
  font-weight: bold;
  margin-top: 10px;
  font-size: 2.3em;
  text-align: center;
}

#Interests_Classes, #img_diss_text, #Contact {
  font-size: 1.4em;
}

.NYTButton {
  background-color: #ffedf5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.NYTButton:hover {
  background-color: #a1a1a1;
  color:black;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 25px 0 rgba(0,0,0,0.19);
}

.NYT_Text {
  font-size: 1.1em;
}

#NYT_Search_Text_Info, #CurArticle {
  font-size: 1.3em;
  margin-bottom:-10px;
}

#NYT_Top, #YT_Top {
  margin-top: -5px;
  padding-top: 20px;
  background-color: #f7eacd;
}
#NYT_Article {
  margin-top:-30px;
  background-color: #d9abb9;
}

#YT_Top {
  color: #e6e6e6;
  font-weight: bold;
  background-color: #6e0021;
}

#API_Info_Page {
  margin-top: 27px;
  background-color: #f5f4d7;
}

#API_Info_TitleHead {
  margin-left: 825px;
  margin-top: -15px;
  font-size: 2.6em;
}

.API_Info_Head {
  font-size: 1.8em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.API_Info_P {
  font-size: 1.4em;
}

#YT_Site_Body {
  font-size: 3em;
  background-color: #781822;
  text-align: center;
}

#YT_Site_Main {
  margin-top: 27px;
  background-color: #961b28;
}

.center {
  text-align: center;
}

#Music_Audio_Page {
  margin-top: 27px;
  background-color: #32bdbf;
}

#MA_Title {
  margin-top: -15px;
  font-size: 3em;
}

#MA_Discrip {
  font-size: 2em;
}

#Current_Song_Text {
  font-size: 2em;
  font-weight: bold;
}

#Song_Title {
  font-size: 2em;
  font-weight: bold;
  color: #0a4a1e;
}

#Song_Artist {
  font-size: 1.65em;
  font-weight: bold;
}

#Song_Buttons_div {
  padding-bottom: 335px;
}

#Song_Selector {
  padding-bottom: 230px;
}

button.Song_Buttons {
  background-color: #8fd9c1;
}

button.Song_Buttons:hover {
  color: #8fb6ff;
  background-color: #3b574e
}
