<!doctype html>
<html>
<head>
  <title>Mike's Lottery Machine</title>
  <link href="./styles/styles.css" rel="stylesheet">
</head>
<body>
  <div id="heading">
    <h1>Mike's Lottery Machine!!!</h1>
  </div>
  <div id="content">
    {{{body}}}
  </div>
  <div id="footer">
    <p>Gamble at your own risk.</p>
  </div>
</body>
</html>
