<h1 class="center">Welcome to Mike's Lottery Machine!</h1>
<h3 class="center">We have all different types of lottery numbers here to meet your gambling needs!</h3>
<img src="/img/Lottery_Balls.jpg" id="Lottery_Balls_Img"></img>
<br><br><br>
<h2 class="center" id="Link">Check out the Lottery Machine <a href="/lottery">Here</a></h2>
<br><br>
